<link rel="stylesheet" type="text/css" href="/static/util.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<div class="wrap-contact100">
<div class="container">
	<h1 class="text" style="padding-bottom:50px; color:#91B3D6">Our mission</h1>
	<div class="container" style="font-size:20px">
		<p style="font-weight:500">At Let's Meet, we believe there is a better way to planning meetings and events. A more user-friendly, less complicated way where users solve one of their most common problem the easiest way possible. This is why we work everyday in order to provide you with the fastest, simplest and most effective methods that allow you to make your plans comfortably.</p>
		<p style="font-weight:500">One of the inspirations that led to the production of this website is always having trouble planning a meeting, where the location, date and time are compatible with every invitees schedule. Knowing that this task takes lots of efforts and requires constant communication with all the invitees, we worked at Let's Meet to find a way that reduces all the trouble and allows users to plan the event the easiest way possible.</p>
	</div>
	<h1 class="text" style="padding-top:50px; padding-bottom:50px; color:#91B3D6">Our founding</h1>
	<div class="container" style="font-size:20px">
		<p style="font-weight:500">Let's Meet is a free and secure website created and designed by Nehmat Hatoum, a senior from Beirut, Lebanon. The website was founded in August 2020 as a final project for the online Harvard course, Introduction to Computer Science, widely known as CS50.</p>
	</div>
</div>
</div>
{% endblock %}